.iconCh {
    background-image: url(../../assets/icons/browsers/chrome.svg);
}

.iconFf {
    background-image: url(../../assets/icons/browsers/firefox.svg);
}

.iconMs {
    background-image: url(../../assets/icons/browsers/edge.svg);
}

.iconTt {
    background-image: url(../../assets/icons/browsers/traytools.png);
    background-size: contain;
    background-repeat: no-repeat;
}
