.icon-ch {
    background-image: url(../../assets/icons/browsers/chrome.svg);
}

.icon-ff {
    background-image: url(../../assets/icons/browsers/firefox.svg);
}

.icon-ms {
    background-image: url(../../assets/icons/browsers/edge.svg);
}